.bg {
  /* The image used */
  /* background-image: url("./img1.jpg"); */
  /* injected via javascript */

  /* Full height */
  height: 100%;
  width: : 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  overflow-x: hidden;

  }

