body,
html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

iframe {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.header {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/images/bg.jpg');
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.inside-text-link {
    color: white;
    mix-blend-mode: difference;
    filter: grayscale();
}

.cBox {
    position: relative;
}

.cText {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fa-light {
    color: #212529;
}

.small-date {
    font-size: 10px;
    line-height: 1.5em;
    word-spacing: 1px;
}

.skills-small {
    font-size: 12px;
    color: #888;
}

.letter-spacing-1 {
    letter-spacing: 10px;
}