.my-nav-item {
  margin-top: 3em;
  margin: 3em;
  text-decoration: none;
}
.my-nav-item:hover {
    text-decoration: none;
}

a {
  color: grey;
  text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: white;
}

* {
  font-family: monospace;
}

body {
    background-color: black;
}

.shell-body {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

body, html {
  height: 100%;
  margin: 0;
}


.fa-light {
  color: grey;
}

.static-height{
  min-height: 300px;
}

.my-text-grey {
  color: grey;
}
