<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="/css/coreui/coreui.min.css">
    <!-- fontawesome -->
    <script type="text/javascript">
        (function() {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })();
    </script>
    <!-- personal style -->
    <link rel="stylesheet" href="/css/mystyle.min.css">
    <link rel="stylesheet" href="/css/timeline.min.css">
    <link rel="stylesheet" href="/css/404.css">

    <meta charset="utf-8">
    <title>Official website - lucaamoriello.it</title>
    <meta name="description" content="Luca Amoriello's official website. Read more about Luca Amoriello's skills and experiences. Download his curriculum, find social links and his creations.">
    <meta name="author" content="Luca Amoriello" />
    <meta name="keywords" content="lucaamoriello,lucaamoriello.it,luca amoriello,informatics,curriculum,github,codice,progetti,librerie,fotografia,video,nathalie,pictures,videos,lucaam,photography,photographer,gallery,cv,experience" />
    <!-- favicon for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
    <!-- favicon for IE -->
    <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicons/favicon.ico" />
</head>

<body>
<!-- purple x moss 2020 -->

  <body>
    <div class="mainbox">
      <div class="err">4</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="err2">4</div>
      <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/">home</a> and try from there.</p></div>
        </div>
   



    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/coreui/coreui.bundle.min.js"></script>
    <script src="/js/404.js"></script>

</body>

</html>
